.timerBtn{
width: 80px;
height: 30px;
border: 2px solid;
border-radius: 15px;
background-color: rgb(203, 146, 24);
color: rgb(255, 255, 255);
cursor: pointer;
font-family: consolas, monospace;
}

#timeDisplay{
font-size: calc(10vw + 30px);
font-family: consolas, monospace;
color: rgb(255, 102, 47);
}

@media only screen and (max-width: 600px) {
    #timeDisplay{
    font-size: calc(14vw + 20px);
    }
    }
    
    @media only screen and (min-width: 601px) {
    #timeDisplay{
    font-size: calc(9vw + 30px);
    }
    }

#timeContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
border: 2px solid;
border-radius: 10px;
background: linear-gradient(to right, rgb(48, 48, 48), rgb(77, 43, 43));
}